<p id="notice"><%= notice %></p>

<h3 class="text-align: center">Listing Cash Payments</h3>


<ul class="collapsible" data-collapsible="accordion">
  <% @cash_payments.each do |cash_payment| %>  
    <li>
      <div class="collapsible-header">
        <div class="col s4">
          <i class="material-icons">payment</i>
          <%= link_to cash_payment.price, cash_payment %>
        </div>
        <div class="col s4">
          <i class="material-icons">query_builder</i>
          <%= link_to cash_payment.created_at, cash_payment %>
        </div>
        <div class="col s3">
          <i class="material-icons">person_pin</i>
          <%= link_to cash_payment.salesman, cash_payment %>
        </div>
        <div class="right">
        <%= link_to edit_cash_payment_path(cash_payment) do %>
          <i class="material-icons">view_headline</i>
        <%end%>
      </div>
      </div>
      <div class="collapsible-body">
        <p>
          Description:
          <%= cash_payment.description %>
        </p>
      </div>
    </li>
  <% end %>  
</ul>

<%= will_paginate @cash_payments %>

<a href="<%= new_cash_payment_path %>" class="waves-effect waves-light btn" name="action">New Payment</a>