<p id="notice"><%= notice %></p>

<h1>Listing Cash Payments</h1>

<table>
  <thead>
    <tr>
      <th>Salesman</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cash_payments.each do |cash_payment| %>
      <tr>
        <td><%= cash_payment.salesman %></td>
        <td><%= cash_payment.price %></td>
        <td><%= cash_payment.description %></td>
        <td><%= link_to 'Show', cash_payment %></td>
        <td><%= link_to 'Edit', edit_cash_payment_path(cash_payment) %></td>
        <td><%= link_to 'Destroy', cash_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cash payment', new_cash_payment_path %>
