<div class="card-panel hoverable">
  <div class="row">
	<div class="col s4" style="text-align: center">
		<i class="material-icons prefix">payment</i>
		<input type="text" class="center-align" 
		value="<%= @cash_payment.price %>" 
		name="cash_payment[price]" 
		id="cash_payment_price" >
	</div>
	<div class="col s4" style="text-align: center">
		<i class="material-icons prefix">query_builder</i>
		<input type="text" class="center-align"
		value="<%= @cash_payment.created_at %>"
		name="cash_payment[created_at]"
		id="cash_payment_created_at" >	
	</div>
	<div class="col s4" style="text-align: center">
		<i class="material-icons prefix">supervisor_account</i>
		<input type="text" class="center-align"
		value="<%= @cash_payment.salesman %>"
		name="cash_payment[salesman]"
		id="cash_payment_salesman">
	</div>
	<div class="col s12" style="text-align: center">
		<i class="material-icons prefix">label_outline</i>
		<input type="text" class="center-align"
		value="<%= @cash_payment.description %>"
		name="cash_payment[description]"
		id="cash_payment_description">
	</div>
  </div>
</div>
<a href="<%= edit_cash_payment_path(@cash_payment) %>" class="btn waves-effect waves-light" name="action">
	Edit
</a>
