<p id="notice"><%= notice %></p>


  

<div class="container">
  <div class="row">
  <form class="col s12">
    <div class="row">
      <div class="col s12 m10 l6"><p></p></div>
    </div>
    <div class="row">
      <div class="col s12 m10 l6"><p></p></div>
    </div>
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="input-field">
          <i class="material-icons prefix">search</i>
          <%= form_tag(customers_path, method: :get) do %>
            <%= text_field_tag 'search', nil, placeholder: 'Search customer' %>
            
          <% end %>
        </div>
      </div>
      <div class="col s12 m4 l2">
        <button class="btn waves-effect waves-light" name="commit" value="Search" type="submit">
              Search
            </button>
      </div>
    </div>
  </form> 
</div>
</div> 




<ul class="collapsible" data-collapsible="accordion">
  <% @customers.each do |customer| %>
    <li>
      <div class="collapsible-header">
        <div class="col s4">
          <i class="material-icons">person_pin</i>
            <%= link_to customer.name, customer %>
        </div>
        <div class="col s4">
          <i class="material-icons">email</i>
            <%= link_to customer.email, customer %>
        </div>
        <div class="col s3">
          <i class="material-icons">phone</i>
            <%= link_to customer.phone, customer %>
        </div>
        <div class="right">
          <%= link_to edit_customer_path(customer) do %>
            <i class="material-icons">view_headline</i>
          <%end%>

          <%= link_to controller: "accounts", action: "new", customer: customer do %>
            <i class="material-icons">payment</i>
          <%end%>
          


          
          
        </div>
      </div>
    </li>
  <% end %>
</ul>
<br>


<a href="<%= new_customer_path %>" class="btn waves-effect waves-light" name="action">New Customer</a>
