<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>




<ul class="collapsible" data-collapsible="accordion">
  <% @customers.each do |customer| %>
    <li>
      <div class="collapsible-header">
        <div class="col s4">
          <i class="material-icons">person_pin</i>
            <%= link_to customer.name, customer %>
        </div>
        <div class="col s4">
          <i class="material-icons">email</i>
            <%= link_to customer.email, customer %>
        </div>
        <div class="col s4">
          <i class="material-icons">phone</i>
            <%= link_to customer.phone, customer %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
<br>


<a href="<%= new_customer_path %>" class="btn waves-effect waves-light" name="action">New Customer</a>
