<p id="notice"><%= notice %></p>

<div class="card-panel hoverable"> 
  <div class="row">
    <div class="col s3" style="text-align: center;">
      <i class="material-icons prefix">contacts</i>
  	  <input type="text" class="center-align"
      value="<%= @customer.name %>"
      name="customer[name]"
      id="customer_name">
    </div>
    <div class="col s3" style="text-align: center;">
      <i class="material-icons prefix">email</i>
  	  <input type="text" class="center-align"
      value="<%= @customer.email %>"
      name="customer[email]"
      id="customer_email">
    </div>
    <div class="col s3" style="text-align: center;">
      <i class="material-icons prefix">phone</i>
  	  <input type="text" class="center-align"
      value="<%= @customer.phone %>"
      name="customer[phone]"
      id="customer_phone">
    </div>
    <div class="col s3" style="text-align: center">
      <i class="material-icons prefix">info_outline</i>
      <input type="text" class="center-align"
      value="<%= total_bill(@customer) %>"
      name=""
      id="">
    </div>
  </div>
</div> 

<div class="z-depth-3">
  <ul class="collapsible" data-collapsible="accordion">
    <% @customer.accounts.order(created_at: :desc).each do |account| %>
      <li>
        <div class="collapsible-header">
          <div class="col s4">
            <i class="material-icons">payment</i>
              <%= account.price %>
          </div>
          <div class="col s4">
            <i class="material-icons">query_builder</i>
              <%= account.created_at %>
          </div>
          <div class="col s3">
            <i class="material-icons">settings_ethernet</i>
              <%= status(account.status) %>
                
          </div>
          <div class="right"> 
            <%= link_to edit_account_path(account) do %>
              <i class="material-icons">view_headline</i>
            <%end%>
          </div>
        </div>
        <div class="collapsible-body">
            <p>
              <%= account.salesman %> <br>
              <%= account.description %>
            </p>
          </div>
      </li>
    <% end %>
  </ul>
</div>


<%= link_to controller: "accounts", action: "new", customer:         @customer do %>
  <button class="btn waves-effect waves-light" type="submit" name="action">
    New Account
  </button>
<%end%>

<%= link_to controller: "customers", action: "pay_off", customer:         @customer do %>
  <button class="btn waves-effect waves-light" type="submit" name="action">
    Pay off
  </button>
<%end%>





