<!DOCTYPE html>
<html>
<head>
  

  <title>LanchoneteCanaa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
   <nav>
    <div class="nav-wrapper black">
      <a href="<%= root_path %>" class="brand-logo">Início</a>

      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">

        <% if user_signed_in? %>      
          <li><a href="<%= customers_path %>">Customers</a></li>

          <li><a href="<%= new_customer_path %>">New Customer</a></li>

          <li><a href="<%= accounts_path %>">Accounts</a></li>
          
          <li><a href="<%= new_account_path %>">New Account</a></li>

          <li><a href="<%= cash_payments_path %>">Cash Payments</a></li>

          <li><a href="<%= new_cash_payment_path %>">New Payment</a></li>

          <li><a href="#">Dashboard</a></li>

          <li><a data-method="delete" href="<%= destroy_user_session_path %>"><i class="material-icons">power_settings_new</i></a></li>

        <% else %>
          <li><a href="<%= new_user_session_path %>"><i class="material-icons">perm_identity</i></a></li>

          <li><a href="<%= new_user_registration_path %>"><i class="material-icons">library_add</i></a></li>

        <% end %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <% if user_signed_in? %>      
          <li><a href="<%= customers_path %>">Customers</a></li>

          <li><a href="<%= new_customer_path %>">New Customer</a></li>

          <li><a href="<%= accounts_path %>">Accounts</a></li>
          
          <li><a href="<%= new_account_path %>">New Account</a></li>

          <li><a href="<%= cash_payments_path %>">Cash Payments</a></li>

          <li><a href="<%= new_cash_payment_path %>">New Payment</a></li>

          <li><a href="#">Dashboard</a></li>

          <li><a data-method="delete" href="<%= destroy_user_session_path %>"><i class="material-icons">power_settings_new</i></a></li>

        <% else %>
          <li><a href="<%= new_user_session_path %>"><i class="material-icons">perm_identity</i></a></li>

          <li><a href="<%= new_user_registration_path %>"><i class="material-icons">library_add</i></a></li>

        <% end %> 
      </ul>
    </div>
  </nav>

  <div class="row">
  	<div class="col m10 offset-m1">
  	  <%= yield %>
  	</div>
  </div>
  
  <script>
   $(document).ready(function(){
      $(".button-collapse").sideNav();
      $('.slider').slider({
        full_width: true,
        indicators: false
      });
    });
  </script> 

</body>
</html>
