<p id="notice"><%= notice %></p>

<h4 class="text-origin: center">Listing Accounts</h4>


<ul class="collapsible" data-collapsible="accordion">
  <% @accounts.each do |account| %>
  <li>
    <div class="collapsible-header">
      <div class="col s3">
        <i class="material-icons">payment</i>
        <%= link_to account.price, account %>
      </div>
      <div class="col s3">
        <i class="material-icons">settings_ethernet</i>
        <%= link_to status(account.status), account %>
      </div>
      <div class="col s3">
        <i class="material-icons">supervisor_account</i>
        <%= link_to account.salesman, account %>
      </div>
      <div class="col s2">
        <i class="material-icons">contacts</i>
        <%= link_to account.customer.name, account %>
      </div>
      <div class="right">
        <%= link_to edit_account_path(account) do %>
          <i class="material-icons">view_headline</i>
        <%end%>
      </div>
    </div>
    <div class="collapsible-body">
      <p>
        Description: 
        <%= account.description %> <br>
        <%= account.created_at %>
      </p>
    </div>
  </li>
  <% end %>    
</ul>
        
<%= will_paginate @accounts %>

<a href="<%= new_account_path %>" class="btn waves-effect waves-light" name="action">New Account</a>
        