<p id="notice"><%= notice %></p>

<h3 class="text-origin: center">Listing Accounts</h3>


<ul class="collapsible" data-collapsible="accordion">
  <% @accounts.each do |account| %>
  <li>
    <div class="collapsible-header">
      <div class="col s3">
        <i class="material-icons">payment</i>
        <%= account.price %>
      </div>
      <div class="col s3">
        <i class="material-icons">settings_ethernet</i>
        <%= status(account.status) %>
      </div>
      <div class="col s3">
        <i class="material-icons">person_pin</i>
        <%= account.salesman %>
      </div>
      <div class="col s2">
        <i class="material-icons">contact_phone</i>
        <%= account.customer.name %>
      </div>
      <div class="right">
        <%= link_to edit_account_path(account) do %>
          <i class="material-icons">view_headline</i>
        <%end%>
      </div>
    </div>
    <div class="collapsible-body">
      <p>
        Description: 
        <%= account.description %> <br>
        <%= account.created_at %>
      </p>
    </div>
  </li>
  <% end %>    
</ul>
        


<a href="<%= new_account_path %>" class="btn waves-effect waves-light" name="action">New Account</a>
        