<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @account.price %>
</p>

<p>
  <strong>Salesman:</strong>
  <%= @account.salesman %>
</p>

<p>
  <strong>Description:</strong>
  <%= @account.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @account.status %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @account.customer.name %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', customers_path %>
