<h4 class="text-align: center">Listing Account</h4>
<div class="card-panel hoverable"> 
  <div class="row">
    <div class="col s3" style="text-align: center">
      <i class="material-icons prefix">payment</i>
      <input class="center-align" value="<%= @account.price %>" name="account[price]" id="account_price" type="text">
    </div>
    <div class="col s3" style="text-align: center">
      <i class="material-icons prefix">settings_ethernet</i>
      <input class="center-align" value="<%= status(@account.status) %>" name="account[status]" id="account_status" type="text">
    </div>
    <div class="col s3" style="text-align: center">
      <i class="material-icons prefix">contacts</i>
      <input class="center-align" value="<%= @account.customer.name %>" name="account[customer_name]" id="accountcustomer_name" type="text">
    </div>
    <div class="col s3" style="text-align: center">
      <i class="material-icons prefix">supervisor_account</i>
      <input class="center-align" value="<%= @account.salesman %>" name="account[salesman]" id="account_salesman" type="text">
    </div>
    <div class="col s12" style="text-align: center">
      <i class="material-icons prefix">reorder</i>
      <input class="center-align" value="<%= @account.description %>" name="account[description]" id="account_description" type="text">
    </div>
  </div>
</div>

<a href="<%= edit_account_path(@account) %>" class="btn waves-effect waves-light" name="action">
  Edit
</a>
